@import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap');
    html, body{
        height: 100%;
        min-height: 100%;
        font-family: Arail, sans-serif;
    }

    .icon-brand {
        margin-right: 5px;
    }

    .wrapper {
        background-color: #eaeaea;
        height: 100%;
        min-height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .card-header {
        font-family: 'Concert One', cursive;
        font-size: 15pt;
    }

    .box-login {
        width: 400px;
        height: 400px;
        /* background-color: #696969; */
    }

    .alert {
        position: fixed;
        top: 5px; 
        right:2%;
        width: 30%;
        display: none;
    }

    #loading-img {
        position: fixed;
        top: 5px; 
        right:2%;
        z-index: 100;
        display: none;
    }

    /* .box-login form { */
        /* padding: 10px; */
    /* } */
    /* } */
