@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

    body{
        font-family: Arail, sans-serif;
    }

    .alert{
       position: fixed;
        top: 5px; 
        right:2%;
        width: 30%;
       display: none;

       }

       .title-page {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
        margin: 10px;
       }

    .nova-compra, .pdf {
        margin-top: 5px;
        margin-bottom: 5px;
        /* padding: 5px; */
        /* float: right;   */
    }

    h3 {
        /* margin: 10px; */
        font-family: 'Roboto', sans-serif;
    }

    .conteudo {
        margin-left: 10px;
        margin-right: 10px;
    }

    .login-form-div {
        
        width: 400px;
        height: 400px;
        background-color: purple;
    }

    .alert {
        position: fixed;
        top: 5px; 
        right:2%;
        width: 30%;
        z-index: 100;
        display: none;
    }

    .button-edit {
        background-image: url(../../media/images/edit_pencil.png); /* 16px x 16px */
        background-color: transparent; /* make the button transparent */
        background-repeat: no-repeat;  /* make the background image appear only once */
        background-position: 0px 0px;  /* equivalent to 'top left' */
        border: none;           /* assuming we don't want any borders */
        cursor: pointer;        /* make the cursor like hovering over an <a> element */
        height: 32px;           /* make this the size of your image */
        padding-left: 32px;     /* make text start to the right of the image */
        vertical-align: middle; /* align the text vertically centered */
    }